.layout {
    min-height: 100vh;
}


.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}


.content.content--full {
    max-width: none;
    margin: 0;
    padding: 0;
    width: 100%;
}